{# ОБРАЩЕНИЕ К СЛОВАРЮ, ЕСЛИ КЛЮЧ: СТРОКА - ЧЕРЕЗ . ЧИСЛО - ЧЕРЕЗ []!!!! #}
<div style="padding: 15px;">
    <table class="course-grade-book-table__table">

    <thead>
        <tr>
            <th colspan="2" rowspan="1" style="text-align: center;"> Ученики </th>
            {# Total sum of grades #}
            <th rowspan="1" style="text-align: center;">
                Всего </th>
            {# Выводим названия и id уроков #}
            {% for section_id in sections_ids %}
            <th rowspan="1" style="text-align: center;"><a href="#{{sections[section_id].title}}">
                {{ sections[section_id].title }}({{ section_id }})</a></th>
            {% endfor %}
        </tr>
    </thead>


        {# Выводим оценки студентов #}
        {% for student_id in students %}
        <tr>
            <td>{{ student_id }}</td>
            <td><a href="https://stepik.org/users/{{student_id}}/profile"  target="_blank" >{{ students[student_id] }}</a></td>
            <td class="gradesheet-cell" data-index="0" data-is-passed="" data-is-success="" style="color: black;">
                {{ module_grades[student_id]['total_sum'] }}</td>
            {# Считаем сумму всех оценок по всем модулям #}
            {% set sections_ids = data['course']['sections'] %}
            {% set lessons = data['lessons'] %}
            {% for id in sections_ids %}
            <td class="gradesheet-cell" data-index="0" data-is-passed="" data-is-success="" style="color: black;">
                {{ module_grades[student_id][id] }}</td>
            {% endfor %}
        </tr>
        {% endfor %}

    </table>
</div>