{# ОБРАЩЕНИЕ К СЛОВАРЮ, ЕСЛИ КЛЮЧ: СТРОКА - ЧЕРЕЗ . ЧИСЛО - ЧЕРЕЗ []!!!! #}
<details>
    <summary><big><big>{{ section_name }}</big></big>
    </summary>
    <table class="course-grade-book-table__table">

        <tr>
            <th colspan="2" rowspan="2" style="text-align: center;"> Ученики </th>
        </tr>


        {# Выводим названия и id уроков #}
        <tr>
            {% for lesson_id in sections[section_id].lessons %}
            <th colspan="{{ lessons[lesson_id].steps|length }}" style="text-align: center;"><a href="https://stepik.org/lesson/{{lesson_id}}"  target="_blank">
                {{ lessons[lesson_id].title }}({{ lesson_id }}) </a></th>
            {% endfor %}
        </tr>

        <tr>
            {# "id"  и "имя" #}
            <th style="text-align: center;"> Id </th>
            <th style="text-align: center;"> Имя </th>

            {# Выводим названия и id шагов #}
            {% for lesson_id in sections[section_id].lessons %} {% for step_id in lessons[lesson_id].steps %}
            <td>S{{ loop.index }}</td>
            {% endfor %} {% endfor %}
        </tr>


        {# Выводим оценки студентов #}
        {% for student_id in students %}
        <tr>
            <td>{{ student_id }}</td>
            <td><a href="https://stepik.org/users/{{student_id}}/profile"  target="_blank">{{ students[student_id] }}</a></td>
            {% for lesson_id in sections[section_id].lessons %}
                {% for step_id in lessons[lesson_id].steps %}
                    {% if step_id in grades[student_id] and steps[step_id]['block_type'] != "text" %}
                        <td class="gradesheet-cell" data-index="0" data-is-passed="" data-is-success="">
                            {{ grades[student_id][step_id] }}</td>
                    {% else %}
                        <td class="gradesheet-cell" data-index="0" data-is-passed="" data-is-success="">-</td>
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </tr>
        {% endfor %}

    </table>
</details>